{{template "partials/header-backend" .}}

<link href="/css/features.css" rel="stylesheet">

<main>
    <div class="container px-4 py-5 mt-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">{{.Title}}</h2>
    
        <div class="row row-cols-1 row-cols-lg-5 align-items-stretch g-4 py-5">
          {{range .Torrents}}
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{{.PreviewImg}}');">
              <div class="d-flex flex-column p-4 pb-3 text-white text-shadow-1 incontent-el">
                <h3 class="pt-5 mt-5 mb-4 display-8 lh-1 fw-bold">{{.Name}}</h3>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
</main>


{{template "partials/footer" .}}